<%= render 'layouts/jumbotron' %>

<main>
<!-- CONSTAT -->
  <div class="container mt-3" id="context">
   <!--  <div class="icon-position">
      <span class="text-white icon bg-secondary"><i class="fas fa-lightbulb"></i></span>
    </div> -->
    <!-- <div class="title-context">
      <h2 class="constat-title mb-3">Le constat Point Budget</h2>
    </div> -->
    <div class="content text-justify pt-5">
    <!--   <p class="lead">Notre expérience dans le milieu bancaire nous a permis de nous rendre compte que beaucoup de particuliers pourraient faire des économies sur leurs contrats mensuels de gaz, d'électricité, de téléphonie, d'assurances...
      Cependant, faute de temps ou par crainte, ces contrats restent inchangés mais ne correspondent plus aux besoins ni au prix du marché.</p><br>
      <h4>Aimeriez-vous vous décharger de la corvée de comparer l’ensemble des contrats que vous payez tous les mois?</h4><br>
      <h4>Aimeriez-vous changer de contrats, mais vous n’avez pas le temps de le faire?</h4><br> -->
     <!--  <p class="lead">Se plonger dans ses factures est long et souvent compliqué.<br> Comparer les offres sur Internet se résume la plupart du temps à choisir un contrat sans connaître ses particularités. </p>
      <p class="lead text-center">C'est en partant de ce constat que Point Budget a vu le jour avec un objectif:<br> <span>"Aidez les consommateurs à savoir si ce qu'ils payent correspond au juste prix"</span></p>
      <p class="lead">Habitué à gérer et observer les budgets de clients bancaires, votre conseillé reconnait les points faibles de votre budget en un instant. </p>
      <p class="lead">Son rôle, vous proposer une solution pour les améliorer en changeant de fournisseur dans les domaines bancaires et de l'assurance, mais aussi dans ceux de l'énergie, du numérique et de la mutuelle </p>
      <p class="lead text-center"><span>L'alliance d'un comparateur et de la gestion personnalisée de patrimoine</span></p> -->
      <p class="lead">Pour faire des économies il est nécessaire de <strong>comparer</strong> régulièrement ses contrats avec les nouvelles offres du marché.<br>Mais par manque de temps et du fait de la complexité de certains contrats beaucoup se <strong> découragent</strong>. </p>
      <h3 class="text-center constat-blue pt-5">Point Budget est là pour vous aidez!</h3>
      <p class="lead pt-4">Point Budget n'est pas seulement un comparateur classique!<br> C'est aussi, et surtout, un service de courtage <strong>gratuit</strong> qui vous permet d'évaluer vos dépenses et de trouver les <strong>meilleurs contrats, au meilleur prix</strong>, et qui répondent à <strong>vos besoins</strong>, sans vous déplacer. </p>
      <p class="lead">Fort de son expérience, votre expert évalue pour vous tous les domaines de votre budget. </p>
      <div class="constat-phrase pt-5 pb-4">
        <h3 class="text-center constat-blue">Point Budget s'occupe de tout et vous faites des économies.</h3>
      </div>
      <p class="lead text-center pb-3 constat-gratuit">Vous avez dit gratuit?<br>Oui et ça le restera toujours. </p>
      <p class="lead">Point Budget se rémunère grâce aux partenaires des domaines étudiés et de façon <strong>équitable</strong>, ce qui permet d'instaurer une <strong>impartialité</strong> et de ne favoriser aucun fournisseur au profit de l'autre. </p>
      <h3 class="text-center constat-blue pt-5">COMMENT SAVOIR SI VOS DEPENSES MENSUELLES SONT JUSTIFIEES ?</h3>
      <h5 class="text-center pt-4">Point Budget a choisi de vous proposer son expertise dans les domaines suivants</h5>
      <div class="pb-category pt-5">
        <div class="ovale ovale-assurance">
          <p class="align-self-center">Assurance</p>
        </div>
        <div class="ovale ovale-energy">
          <p class="align-self-center">Energie</p>
        </div>
        <div class="ovale ovale-bank">
          <p class="align-self-center">Banque</p>
        </div>
        <div class="ovale ovale-mutuelle">
          <p class="align-self-center">Mutuelle</p>
        </div>
        <div class="ovale ovale-numeric">
          <p class="align-self-center">Numérique</p>
        </div>
      </div>
    </div>
  </div>

<!-- SOLUTIONS -->
  <!-- <div class="container" id="solution">
    <div class="title-context">
      <h2>Notre solution</h2>
    </div>
    <div class="content text-justify px-3">
      <p class="lead text-center"><span>"Vous offrir une étude personnalisée sur les postes que vous avez choisis ou sur l’intégralité de votre budget pour vous conforter dans vos choix ou faire évoluer vos contrats vers de meilleures offres "</span></p>
      <p class="lead text-center"><span>Notre priorité est de répondre au mieux à vos besoins puis de vous faire faire des économies</span></p>
      <p class="lead text-center"><span>Contrairement à un comparateur classique, Point Budget vous ne vous propose pas systématiquement le contrat le moins cher mais le contrat le plus pertinent en fonction de vos attentes. </span></p>
      <p class="lead text-center"><span>Nos concurrents vous mettent en relations avec leurs partenaires … puis vous laisse faire le reste.</span><br><span>Nous nous occupons pour vous de l’administratif afin de suivre vos souscriptions.</span></p>
    </div>
  </div> -->



<!-- BENEFITS -->
  <div id="benefits" class="container-fluid d-flex flex-column parallax">
    <div class="benefits-content">
      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <h2 class="title-benefits text-center">PointBudget vous promet</h2>
        </div>
      </div>
      <div class="container-promess">
      <div class="row d-flex justify-content-around my-4">
        <div class="col-lg-3 col-sm-8 col-md-3 icon-position mb-4">
          <span class="icon text-secondary icon"><i class="fas fa-euro-sign"></i></span>
          <h3 class="title-color">Gratuité</h3>
          <p>Tout est 100% gratuit, vous ne payez rien à personne et pour toujours !</p>
        </div>
        <div class="col-lg-3 col-sm-8 col-md-3 icon-position mb-4">
          <span class="icon text-secondary icon"><i class="fas fa-balance-scale"></i></span>
          <h3 class="title-color">Fiabilité</h3>
          <p>Tous les partenaires sont soigneusement sélectionnés pour la qualité de leur contrat et leur sérieux</p>
        </div>
        <div class="col-lg-3 col-sm-8 col-md-3 icon-position mb-4">
          <span class="icon text-secondary icon"><i class="fas fa-info-circle"></i></span>
          <h3 class="title-color">Equité</h3>
          <p>Tous les clients sont égaux et bénéficient des mêmes conditions, peu importe le montant de leur facture</p>
        </div>
        <div class="col-lg-3 col-sm-8 col-md-3 icon-position mb-4">
          <span class="icon text-secondary icon"><i class="fas fa-info-circle"></i></span>
          <h3 class="title-color">Réactivité</h3>
          <p>Toutes vos demandes sont prisent en charge dans les 48 heures suivant votre demande</p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <!-- TIMELINE -->

<!--   <div id="steps" class="container">   

    <div class="title text-center">
        <h2>Point Budget en 4 étapes</h2>
    </div>                                                     
    <div class="timeline timeline-one">


      <div class="timeline-item">
        <span class="icon text-secondary"><i class="fas fa-sign-in-alt"></i></i>
        </span>
        <h4 class="my-3">Vous inscrire/Vous connecter</h4>
        <p>Rien de plus simple!<br> Vous trouverez un espace de connexion dans la barre de navigation, à droite, ou à la fin des étapes.</p>
      </div>


      <div class="timeline-item">
        <span class="icon text-primary"><i class="fas fa-chalkboard"></i></span>
        <h4 class="my-3">Accès à votre espace personnel</h4>
        <p>Vous êtes maintenant inscrits!</p>
        <p>S'offrent à vous différentes possibilités:</p>
        <ul>
          <li>
            <p>Faire une étude complète de votre budget.</p>
          </li>
          <li>
            <p>Choisir un ou plusieurs domaines à étudier.</p>
          </li>
          <li>
            <p>Accéder à vos simulations en cours et/ou terminées.</p>
          </li>
          <li>
            <p>Joindre les documents nécessaires à l'étude.</p>
          </li>
        </ul>
      </div>


      <div class="timeline-item">
        <span class="icon text-secondary"><i class="fas fa-calculator"></i></span>
        <h4 class="my-3">Lancer une simulation</h4>
        <p>Afin de gagner du temps, munissez-vous d'un maximum <br>de vos contrats ou factures.</p>
        <p>Choisissez les domaines où vous souhaitez que nous intervenions.</p>
        <p>Répondez aux questions et nous nous occupons du reste!</p>
        <p>Prêt... Feu.... Simuler!</p>
      </div>


        <div class="timeline-item">
        <span class="icon text-primary"><i class="fas fa-comments"></i></span>
        <h4 class="my-3">Vous êtes décidé à faire des économies?</h4>
        <p>C'est maintenant que nous prenons le relais!</p>
        <p>Vous avez maintenant une idée de ce que vous avez à gagner en utilisant nos services.</p>
        <p>Nous vous contacterons quand vous l'aurez décidé afin de connaître vos souhaits et les exaucer.</p>
      </div>
    </div>
  </div>
</main>

<div class="container d-flex justify-content-center logs-button">
  <div class="sign-up-button mx-md-5 mx-1">
    <%= link_to "Je crée mon compte", new_user_registration_path, class: "btn mr-2 mb-2 btn-pill btn-primary" %>
  </div>
  <div class="log-in-button mx-md-5 mx-1">
    <%= link_to "Je me connecte", new_user_session_path, class: "btn mr-2 mb-2 btn-pill btn-primary" %>
  </div>
</div> -->


<!-- test other timeline -->

<div class="container mt-5 mb-7">
  <div class="title text-center mb-5">
    <h2>Point Budget en 4 étapes</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline">
        <div class="timeline timeline-item">
          <div class="timeline-icon icon"><%= image_tag('sign-in-alt-solid.svg') %></div>
          <div class="timeline-content">
            <h3 class="title-time">Vous inscrire / Vous connecter</h3>
            <p class="description mb-4">
                Rien de plus simple!<br><br> Vous trouverez un espace de connexion dans la barre de navigation ou à la fin des étapes.
            </p>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><%= image_tag('chalkboard-teacher-solid.svg') %></div>
          <div class="timeline-content">
            <h3 class="title-time">Accès à votre espace personnel</h3>
            <p class="description mb-4">Vous êtes maintenant inscrits!</p>
            <p class="description mb-4">S'offrent à vous différentes possibilités:</p>
            <ul class="description">
              <li>
                <p>Faire une étude complète de votre budget.</p>
              </li>
              <li>
                <p>Choisir un ou plusieurs domaines à étudier.</p>
              </li>
              <li>
                <p>Accéder à vos simulations en cours et/ou terminées.</p>
              </li>
              <li>
                <p>Joindre les documents nécessaires à l'étude.</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><%= image_tag('calculator-solid.svg') %></div>
          <div class="timeline-content">
            <h3 class="title-time">Lancer une simulation</h3>
            <p class="description mb-4">Afin de gagner du temps, munissez-vous d'un maximum <br>de vos contrats ou factures.</p>
            <p class="description mb-4">Choisissez les domaines où vous pensez pouvoir faire des économies.</p>
            <p class="description mb-4">Répondez aux questions et votre expert s'occupe du reste!</p>
            <p class="description mb-4">Prêt... Feu.... Simuler!</p>
          </div>
        </div>
        <div class="timeline">
          <div class="timeline-icon"><%= image_tag('comments-solid.svg') %></div>
          <div class="timeline-content">
            <h3 class="title-time">Vous êtes décidé à faire des économies?</h3>
            <p class="description mb-4">C’est maintenant que Point Budget prends le relais!</p>
            <p class="description mb-4">Vous avez maintenant une idée de ce que vous avez à gagner en utilisant notre service.</p>
            <p class="description mb-4">Votre expert vous contactera quand vous l'aurez décidé afin de connaître vos souhaits et les exaucer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center logs-button">
  <div class="sign-up-button mx-md-5 mx-1">
    <%= link_to "Je crée mon compte", new_user_registration_path, class: "btn mr-2 mb-2 btn-pill btn-primary" %>
  </div>
  <div class="log-in-button mx-md-5 mx-1">
    <%= link_to "Je me connecte", new_user_session_path, class: "btn mr-2 mb-2 btn-pill btn-primary" %>
  </div>
</div>

<!-- Avis section -->

<div id="avis">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="profile-card">
          <div class="card shadow-lg text-center">
            <div class="card-body">
              <h5 class="card-title text-left mb-3">Robert</h5>
              <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content."
              </p>
              <p class="avis-date mb-0 text-right">
                Le 12 janvier 2020
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="profile-card">
          <div class="card shadow-sm text-center border-light">
            <div class="profile-cover" style="background-image: url(<%= asset_path 'jumbo.jpg' %>)">
            </div>
            <div class="profile-image-small mt-n6">
              <%= image_tag('jumbo_3.jpg', class:"card-img-top organic-radius", style:"width:200px; height:120px") %>
            </div>    
            <div class="card-body">
              <h5 class="card-title text-left mb-3">Robert</h5>
              <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content."
              </p>
              <p class="avis-date mb-0 text-right">
                Le 12 janvier 2020
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="profile-card">
          <div class="card shadow-sm text-center border-light">
            <div class="profile-image-small mt-n6">
              <%= image_tag('jumbo_3.jpg', class:"card-img-top organic-radius", style:"width:200px; height:120px") %>
            </div>      
            <div class="card-body">
              <h5 class="card-title text-center mb-3">Robert</h5>
              <p class="card-text">"Some quick example text to build on the card title and make up the bulk of the card's content."
              </p>
              <p class="avis-date mb-0 text-right">
                Le 12 janvier 2020
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>