<div class="container d-flex justify-content-center align-items-center my-5">
  <div class="row" style="margin-top:50px">
    <div class="col-md-12 d-flex flex-column justify-content-center align-items-center">

      <%= form_for(resource, url: path, method: method, remote: true) do |f| %>
      <h2><%=title %></h2>

<!--        GAS SIMULATION-->
      	<%case action %>
        <%when 'new_gas_simulation'%>
          <div class="form-group">
            <p>Coût annuel du gaz en €
            <%= number_field_tag "yearly_cost", nil, step: 1 , within: 1...10000, placeholder:0, class: 'd-flex justify-content-end' %>
            </p>
            <p>Connaissez vous votre consommation de gaz ?
            <%= radio_button_tag(:answer, "yes")%>
            <%= label_tag(:answer_yes, "Oui")%>
            <%= radio_button_tag(:answer, "no") %>
            <%= label_tag(:answer_no, "Non") %>
            </p>
            <div id="consumption" style="display:none;">
              <p>Consommation annuelle en kWh
              <%= number_field_tag "yearly_consumption", nil, step: 1, class: 'd-flex justify-content-end' %>
              </p>
            </div>
            <div id="estimation" style="display:none;">
              <h3>Estimation de votre consommation :</h3>
              <p>Superficie en m²
              <%= number_field_tag "floor_space", nil, step: 1 , class: 'd-flex justify-content-end'%>
              </p>
              <p> Type de chauffage
              <%= select_tag "heat_type", options_for_select(["", "Gaz", "Electricite", "Autre" ], "Non renseignée"), class: 'd-flex justify-content-end'%>
              </p>
              <p> Energie utilisée pour l'eau chaude et la cuisson
              <%= select_tag "water_cooking_type", options_for_select(["", "Gaz", "Electricite", "Autre"], "Non renseignée"), class: 'd-flex justify-content-end'%>
              </p>
               <p> Estimez la qualité de votre isolation
              <%= select_tag "isolation_type", options_for_select(["", "Peu performante", "Performante", "Très performante"], "Non renseignée"), class: 'd-flex justify-content-end'%>
              </p>
              <p>Nombres de personnes dans le logement
              <%= number_field_tag "nb_residents", nil, step: 1 , class: 'd-flex justify-content-end'%>
              </p>
            </div>
          </div>
				
<!--        ELEC SIMULATION-->
        <%when 'new_ele_simulation'%>
          <div class="form-group">
            <p>Coût annuel de l'electricité en €
              <%= number_field_tag "yearly_cost", nil, step: 1 , within: 1...10000, placeholder:0, class: 'd-flex justify-content-end' %>
            </p>
            <p>Quelle est votre consommation d'électricité ?
            </p>
            <div id="consumption-elec">
              <p>Consommation annuelle en kWh
                <%= number_field_tag "yearly_consumption", nil, step: 1,  placeholder:0, class: 'd-flex justify-content-end' %>
              </p>
              <p>Quelle est la puissance de votre compteur en kVa?
                <%= number_field_tag "kVA_power", nil, in: 6..12 , step: 3 , placeholder:0, class: 'd-flex justify-content-end' %>
              </p>
            </div>
          </div>

    	<%end%>

<!--        FOR ALL FORMS-->
        <div class="form-group">
          <%= f.submit button, class: "btn btn-primary btn-block btn-form" %>
        </div>


      <% end %>

    </div>
  </div>
</div>